otp:
  dht:
    interval: 9000
    key: ${dht_key} # LHKNKT6YZYQGGY3JANGXMLJTHRH7SW3C
    length: 32
  crypto:
    interval: 9000
    key: ${crypto_key} # SGIB6NYJMSRJF2AJDGUI2NDB5LBVCPLS
    length: 32
room: ${room} # ubONSBFkdWbzkSBTglFzOhWvczTBQJOR
rendezvous: ${rendezvous} # exoHOajMYMSPrHhevAEEjnCHLssFfzfT
mdns: ${mdns} # VoZfePlTchbSrdmivaqaOyQyEnTMlugi
max_message_size: 20971520
