{% for registry in (private_registries | from_yaml) %}
mirrors:
  {{ registry.registry }}:
    endpoint:
      - {{ registry.endpoint }}
configs:
  {{ registry.registry }}:
    auth:
      username: {{ registry.username }}
      password: {{ registry.password }}
      token: {{ registry.token | default("") }}
    tls:
      insecure_skip_verify: true
{% endfor %}
